{
  "openapi": "3.0.3",
  "info": {
    "title": "opencode-chat backend API",
    "version": "1.0.0",
    "description": "Server-side API for the opencode-chat Android app. Holds every secret, proxies free AI models (Big Pickle primary with automatic free-model fallback), persists chats, and performs GitHub coding-agent operations. The Android client never embeds credentials."
  },
  "servers": [{ "url": "https://api.opencode.chat" }],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "retryable": { "type": "boolean" }
            }
          }
        }
      },
      "Tokens": {
        "type": "object",
        "required": ["accessToken", "refreshToken", "expiresIn"],
        "properties": {
          "accessToken": { "type": "string" },
          "refreshToken": { "type": "string" },
          "expiresIn": { "type": "integer" },
          "user": { "$ref": "#/components/schemas/User" }
        }
      },
      "User": {
        "type": "object",
        "required": ["id", "username"],
        "properties": {
          "id": { "type": "string" },
          "username": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Message": {
        "type": "object",
        "required": ["id", "role", "content", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "role": { "type": "string", "enum": ["user", "assistant", "system", "tool"] },
          "content": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "modelId": { "type": "string", "nullable": true },
          "parentId": { "type": "string", "nullable": true },
          "attachments": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } },
          "agentActions": { "type": "array", "items": { "$ref": "#/components/schemas/AgentAction" } },
          "usage": { "$ref": "#/components/schemas/Usage" },
          "errorCode": { "type": "string", "nullable": true }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "promptTokens": { "type": "integer" },
          "completionTokens": { "type": "integer" },
          "totalTokens": { "type": "integer" }
        }
      },
      "Attachment": {
        "type": "object",
        "required": ["id", "mimeType", "sizeBytes"],
        "properties": {
          "id": { "type": "string" },
          "mimeType": { "type": "string" },
          "sizeBytes": { "type": "integer" },
          "fileName": { "type": "string", "nullable": true },
          "kind": { "type": "string", "enum": ["image", "text", "binary"] },
          "width": { "type": "integer", "nullable": true },
          "height": { "type": "integer", "nullable": true },
          "url": { "type": "string" }
        }
      },
      "Chat": {
        "type": "object",
        "required": ["id", "title", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "pinned": { "type": "boolean" },
          "messageCount": { "type": "integer" },
          "lastMessagePreview": { "type": "string", "nullable": true },
          "repository": { "type": "string", "nullable": true },
          "branch": { "type": "string", "nullable": true },
          "projectPath": { "type": "string", "nullable": true },
          "modelId": { "type": "string", "nullable": true }
        }
      },
      "AgentAction": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["read_file", "write_file", "list_dir", "search", "commit", "pull_request", "memory_write"]
          },
          "summary": { "type": "string" },
          "path": { "type": "string", "nullable": true },
          "repository": { "type": "string", "nullable": true },
          "branch": { "type": "string", "nullable": true },
          "url": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["ok", "failed"] }
        }
      },
      "Repo": {
        "type": "object",
        "required": ["fullName", "name", "owner"],
        "properties": {
          "fullName": { "type": "string" },
          "name": { "type": "string" },
          "owner": { "type": "string" },
          "private": { "type": "boolean" },
          "defaultBranch": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "updatedAt": { "type": "string", "nullable": true },
          "language": { "type": "string", "nullable": true }
        }
      },
      "SseEvent": {
        "type": "object",
        "description": "Server-sent events emitted by streaming chat endpoints. Event name is carried in the SSE `event:` field and the object below in `data:`.",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["meta", "delta", "fallback", "usage", "done", "error"]
          },
          "chatId": { "type": "string" },
          "messageId": { "type": "string" },
          "model": { "type": "string" },
          "text": { "type": "string" },
          "code": { "type": "string" },
          "message": { "type": "string" },
          "retryable": { "type": "boolean" },
          "finishReason": { "type": "string", "nullable": true },
          "usage": { "$ref": "#/components/schemas/Usage" },
          "agentActions": { "type": "array", "items": { "$ref": "#/components/schemas/AgentAction" } },
          "attachments": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness probe",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["ok", "degraded"] },
                    "version": { "type": "string" },
                    "uptimeSeconds": { "type": "number" },
                    "modelsAvailable": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/register": {
      "post": {
        "summary": "Create an account and return tokens",
        "security": [],
        "responses": {
          "201": {
            "description": "Account created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tokens" } } }
          },
          "409": {
            "description": "Username taken",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "summary": "Exchange credentials for tokens",
        "security": [],
        "responses": {
          "200": {
            "description": "Authenticated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tokens" } } }
          },
          "401": {
            "description": "Bad credentials",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "summary": "Rotate an access/refresh token pair",
        "security": [],
        "responses": {
          "200": {
            "description": "Rotated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tokens" } } }
          },
          "401": {
            "description": "Refresh token invalid or replayed",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "summary": "Revoke a refresh token",
        "security": [],
        "responses": { "204": { "description": "Revoked" } }
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Current account and connection status",
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": { "$ref": "#/components/schemas/User" },
                    "github": {
                      "type": "object",
                      "properties": {
                        "connected": { "type": "boolean" },
                        "login": { "type": "string", "nullable": true }
                      }
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "requestsPerMinute": { "type": "integer" },
                        "attachmentMaxBytes": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "summary": "Free model registry, primary first",
        "responses": {
          "200": {
            "description": "Models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "primaryModelId": { "type": "string" },
                    "maxFallbackDepth": { "type": "integer" },
                    "models": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chats": {
      "get": {
        "summary": "List chats, newest first",
        "responses": {
          "200": {
            "description": "Chats",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "chats": { "type": "array", "items": { "$ref": "#/components/schemas/Chat" } } } }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a chat",
        "responses": {
          "201": {
            "description": "Created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Chat" } } }
          }
        }
      }
    },
    "/v1/chats/{chatId}": {
      "get": {
        "summary": "Read a chat with all messages",
        "parameters": [
          { "name": "chatId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "messageLimit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "Chat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat": { "$ref": "#/components/schemas/Chat" },
                    "messages": { "type": "array", "items": { "$ref": "#/components/schemas/Message" } }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "patch": {
        "summary": "Rename or pin a chat",
        "parameters": [{ "name": "chatId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Updated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Chat" } } }
          }
        }
      },
      "delete": {
        "summary": "Delete a chat",
        "parameters": [{ "name": "chatId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted" } }
      }
    },
    "/v1/chats/{chatId}/messages": {
      "post": {
        "summary": "Send a message and wait for the full reply (non-streaming)",
        "parameters": [{ "name": "chatId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Assistant reply",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userMessage": { "$ref": "#/components/schemas/Message" },
                    "assistantMessage": { "$ref": "#/components/schemas/Message" },
                    "fallbackChain": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chats/{chatId}/stream": {
      "get": {
        "summary": "Stream an assistant reply as server-sent events",
        "parameters": [
          { "name": "chatId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "content", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "modelId", "in": "query", "schema": { "type": "string" } },
          { "name": "messageId", "in": "query", "schema": { "type": "string" } },
          {
            "name": "attachmentIds",
            "in": "query",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of SseEvent objects",
            "content": { "text/event-stream": { "schema": { "$ref": "#/components/schemas/SseEvent" } } }
          }
        }
      },
      "delete": {
        "summary": "Cancel the active stream for a chat",
        "parameters": [{ "name": "chatId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Cancelled" } }
      }
    },
    "/v1/chats/{chatId}/regenerate": {
      "get": {
        "summary": "Discard the previous assistant reply and stream a replacement",
        "parameters": [
          { "name": "chatId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "modelId", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of SseEvent objects",
            "content": { "text/event-stream": { "schema": { "$ref": "#/components/schemas/SseEvent" } } }
          },
          "400": {
            "description": "No user turn to regenerate from",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/attachments": {
      "post": {
        "summary": "Upload an attachment (base64 payload)",
        "responses": {
          "201": {
            "description": "Stored",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Attachment" } } }
          },
          "413": {
            "description": "Too large or unsupported type",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/attachments/{attachmentId}": {
      "get": {
        "summary": "Download an attachment",
        "parameters": [{ "name": "attachmentId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Bytes",
            "content": { "application/octet-stream": { "schema": { "type": "string", "format": "binary" } } }
          }
        }
      }
    },
    "/v1/github/status": {
      "get": {
        "summary": "GitHub connection status",
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected": { "type": "boolean" },
                    "login": { "type": "string", "nullable": true },
                    "scopes": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/repos": {
      "get": {
        "summary": "List repositories the account can access",
        "responses": {
          "200": {
            "description": "Repos",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "repos": { "type": "array", "items": { "$ref": "#/components/schemas/Repo" } } } }
              }
            }
          }
        }
      }
    },
    "/v1/github/repos/{owner}/{repo}/contents": {
      "get": {
        "summary": "List a directory in a repository",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "query", "schema": { "type": "string" } },
          { "name": "ref", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": { "type": "string" },
                    "ref": { "type": "string" },
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": { "type": "string" },
                          "name": { "type": "string" },
                          "type": { "type": "string", "enum": ["file", "dir"] },
                          "size": { "type": "integer" },
                          "sha": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/repos/{owner}/{repo}/file": {
      "get": {
        "summary": "Read a text file from a repository",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "path", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "ref", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "File",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": { "type": "string" },
                    "ref": { "type": "string" },
                    "sha": { "type": "string" },
                    "size": { "type": "integer" },
                    "truncated": { "type": "boolean" },
                    "content": { "type": "string" },
                    "encoding": { "type": "string", "enum": ["utf-8"] }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/agent/commit": {
      "post": {
        "summary": "Coding-agent write: create a branch, commit files and optionally open a pull request",
        "responses": {
          "201": {
            "description": "Committed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branch": { "type": "string" },
                    "commitSha": { "type": "string" },
                    "prUrl": { "type": "string", "nullable": true },
                    "files": { "type": "array", "items": { "type": "string" } },
                    "actions": { "type": "array", "items": { "$ref": "#/components/schemas/AgentAction" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/memory": {
      "get": {
        "summary": "Read GitHub-first project memory",
        "parameters": [
          { "name": "owner", "in": "query", "schema": { "type": "string" } },
          { "name": "repo", "in": "query", "schema": { "type": "string" } },
          { "name": "path", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Memory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": { "type": "boolean" },
                    "path": { "type": "string" },
                    "content": { "type": "string" },
                    "updatedAt": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Write GitHub-first project memory",
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": { "type": "string" },
                    "sha": { "type": "string" },
                    "branch": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/memory/sessions": {
      "get": {
        "summary": "List chat sessions recorded in GitHub-first memory",
        "parameters": [
          { "name": "owner", "in": "query", "schema": { "type": "string" } },
          { "name": "repo", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chatId": { "type": "string" },
                          "title": { "type": "string" },
                          "updatedAt": { "type": "string" },
                          "messageCount": { "type": "integer" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Record a chat session in GitHub-first memory",
        "responses": {
          "201": {
            "description": "Stored",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "stored": { "type": "boolean" } } }
              }
            }
          }
        }
      }
    }
  }
}